autocorrect==2.2.2
demoji==0.3.0
dnspython==2.0.0
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-pasta==0.2.0
google-trans-new==1.1.9
googletrans==3.0.0
httpcore==0.9.1
httpx==0.13.3
json5==0.9.5
jsonpickle==1.4.1
pymongo==3.11.2
pyspellchecker==0.5.5
pyttsx3==2.90
regex==2020.7.14
requests==2.24.0
spellchecker==0.4
textblob==0.15.3
tweepy==3.9.0
pyenchant==3.2.0